.ui.borderless.navbar.menu {
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
}

.ui.borderless.category.menu {
  border: none;
  box-shadow: none;
}

.footer-background {
  background-color: #2D2D2D;
  padding: 50px;
  color: white;
}